<h2><%= @task.title %></h2>
<div class="p-3 bg-secondary opacity-25 border border-2 rounded-2">
    <p class="details"><%= @task.details %></p>
</div>
<p><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
<% if @task.completed %>
  <span>This task is completed</span>
<% else %>
  "This task is not completed yet"
<% end %>
<%= link_to "Edit this task", edit_task_url %>
<%= link_to "Back to list", tasks_path %>
